* {
  box-sizing: border-box;
}

body {
  font-family: "SF Pro SC", "HanHei SC", "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

body, h1, ul, li {
  margin: 0;
  padding: 0;
}


a {
  color: #0070c9;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
}

html, body {
  height: 100%;
}

.app {
  height: 100%;
  display: flex;
  min-width: 320px;
  flex-direction: column;
}

.header, .footer {
  color: #fff;
  height: 50px;
  background: rgba(0, 0, 0, .8);
}

.header {
  padding: 0 20px;
}

.header .fa.fa-html5 {
  color: #f16528;
  font-size: 30px;
}

.header .fa.fa-css3 {
  color: #0070c9;
  font-size: 24px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}

.main {
  flex: 1;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.case {
  color: #333;
  display: flex;
  margin: 0 20px;
  min-height: 50px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
}

.footer {
  display: flex;
  font-size: 12px;
  text-align: center;
  align-items: center;
}

.footer .item {
  flex: 1;
  color: #bbb;
  display: flex;
  cursor: pointer;
  align-self: stretch;
  flex-direction: column;
  justify-content: center;
}

.footer .item .fa {
  font-size: 22px;
  display: block;
  margin: 2px 0 1px;
}

.footer .item.selected, .footer .item.selected .fa {
  color: #fff;
}

@media (max-width: 500px) {
  .header {
    padding: 0 10px;
  }

  .case {
    margin-left: 10px;
    margin-right: 10px;
  }

  .footer .item .fa {
    margin: 2px 0;
  }
}

@media (max-width: 320px) {
  .footer .item .fa {
    font-size: 20px;
    margin: 3px 0 1px;
  }
}
