* { box-sizing: border-box; }

body {
  margin: 0;
  background: rgba(212, 56, 56, .9);
}

.menu {
  display: flex;
}

.menu .item {
  flex: 1;
  cursor: pointer;
  font-size: 60px;
  text-align: center;
  background: #fff;
  border: 1px solid #eee;
  border-right: 0;
}

main {
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selected {
  width: 50%;
  height: 30%;
  color: #333;
  min-width: 300px;
  min-height: 200px;
  font-size: 120px;
  text-align: center;
  background: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*.mouse {
  font-size: 60px;
}

.cow {
  font-size: 95px;
}

.tiger {
  font-size: 100px;
}

.rabbit {
  font-size: 70px;
}

.dragon {
  font-size: 120px;
}

.snake {
  font-size: 75px;
}

.horse {
  font-size: 110px;
}

.sheep {
  font-size: 90px;
}

.monkey {
  font-size: 80px;
}

.rooster {
  font-size: 70px;
}

.dog {
  font-size: 80px;
}

.pig {
  font-size: 90px;
}
*/
